<div class="row custom-product">
    <div>
        <H1>Tin Mới</H1>
    </div>
    <a class="card m_card" href="#d" *ngFor="let a of fakeArray;">
        <img src="https://photo-baomoi.zadn.vn/w300_r3x2/2021_08_10_65_29832722/1b9111e079a290fcc9b3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="m_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div>
                sdsa
            </div>
        </div>
    </a>
</div>
<app-page></app-page>